   <header>
        <div class="container border">
            <i class="icon fas fa-bicycle"></i> 
            <div class="navbar">
                <ul>
                    <li> <a href="/">Home</a> </li>
                    <li> <a href="/gallery">Gallery</a> </li>
                    <li> <a href="/flyer">Flyer</a> </li>
                    <li> <a href="/about-us">About us</a> </li>    
                </ul>
            </div>
        </div>
    </header>
