<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>About Us</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <section class="container about-text">
        <h2 class="about-color">About Us</h2>
        <p class="about-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum deserunt veniam esse eos odit magni dolor fugit architecto, saepe praesentium, unde aliquid perspiciatis voluptas, dolore assumenda eveniet exercitationem porro mollitia temporibus et. Iure pariatur eaque temporibus eos aliquid. Temporibus nesciunt eum perspiciatis libero dignissimos incidunt voluptate similique dolorem, ullam quaerat.</p>
    </section>
    <% include partials/footer.ejs %>
</body>
</html>